export SLS_DEBUG=*
export AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
export AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
export USERS_INDEX_NAME="YOUR_USERS_INDEX_NAME"
export ALGOLIA_APPLICATION_ID="YOUR_ALGOLIA_APPLICATION_ID"
export ALGOLIA_ADMIN_API_KEY="YOUR_ALGOLIA_ADMIN_API_KEY"
